body {
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #222 !important;
}

.invisible {
    position: relative;
    opacity: 1;
    visibility: visible !important;
    padding: 20px;
    height: 140px;
    width: 140px;
    border: 1px solid #444;
    border-radius: 100%;
    display: flex !important;
    background-color: white;
}

.ball {
    height: 100px;
    width: 100px;
    display: flex;
    top: 0px;
    left: 200px;
    border-radius: 100%;
    background-color: #ffcd20;
}

.plate {
    background-image: url("plate.jpg");
    height: 180px;
    width: 180px;
    border-radius: 100%;
    background-size: cover;
    top: 0px;
    left: calc(50vw - 90px);
    position: absolute;
}
